:root{
--main-text: #757575;;
--main-btn-background: #2196F3;
--second-btn-background: #F5F4FA;
--main-title-color: #FFFFFF;
--second-title-color: #212121;
--accent-color:#2196F3;
}

body{
    background: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
/*------------HEDER-----------------*/
.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
}

.ingredient{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    }
}

}
.header-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.list{
    list-style: none;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.link{
    text-decoration: none;
}

.header-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus {
    color: #2196F3;
}
/*------------Hero------------------*/
.hero {
    background: #2F303A;
}

.hero-title{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
}

.hero-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
}

.hero-btn:hover,
.hero-btn:focus{
    color:#188CE8
}
/*---------------About---------------*/
.about-title-benefits{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);
}

.about-text-benefits{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.about-title-services{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.team{
    background: #F5F4FA;
}

.team-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.team-item{
    background: #FFFFFF;
}

.team-item-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-item-text{
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/*-----------Projects--------------*/
.projects-btn-all{
    font-family: inherit;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background: #2196F3;
    border-radius: 4px;
}

.projects-btn-web{
    font-family: inherit;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
}

.projects-btn-applications{
    font-family: inherit;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
}

.projects-btn-design{
    font-family: inherit;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
}

.projects-btn-marketing{
    font-family: inherit;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
}

.projects-item-gallery-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--second-title-color);
}

.projects-gallery-text{
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

/*---------------Footer---------------*/
.footer {
    background: #2F303A;
}


[href="https://www.goo.gl/maps"] {
    color: blue;
}

.footer-address {
    font-style: normal;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.ingredient {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-map-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-mail-link,
.footer-tel-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel:hover,
.footer-tel:focus,
.footer-mail:hover,
.foterer-mail:focus {
    color: #2196F3;